In [62]:
import pandas as pd
from scipy.stats import f_oneway

In [101]:
data = pd.read_csv('../input/spectra_mir_240806.csv', sep=";", header=0)

In [103]:
data

,Unnamed: 0,3996.38,3994.45,3992.53,3990.6,3988.67,3986.74,3984.81,3982.88,3980.95,...,605.63,603.7,601.77,599.84,pet,cotton,specimen,area,spot,measuring_date
0,s_65_35_specimen1_area0_spot1_240404.txt,"0,03027","0,03051","0,03071","0,03065","0,03043","0,03018","0,02996","0,02992","0,03005",...,"0,11971","0,11721","0,11659","0,11769",65,35,1,0,1,240404
1,s_65_35_specimen1_area0_spot2_240404.txt,"0,03867","0,0386","0,03875","0,03894","0,03894","0,03892","0,03893","0,03884","0,03868",...,"0,16159","0,1601","0,15754","0,15631",65,35,1,0,2,240404
2,s_65_35_specimen1_area0_spot3_240404.txt,"0,0345","0,03445","0,0345","0,03457","0,03445","0,03428","0,03437","0,03467","0,03475",...,"0,14939","0,14653","0,14476","0,14397",65,35,1,0,3,240404
3,s_65_35_specimen1_area0_spot4_240404.txt,"0,02821","0,02835","0,02842","0,0284","0,02842","0,02844","0,02844","0,02841","0,02845",...,"0,12833","0,12829","0,12966","0,13053",65,35,1,0,4,240404
4,s_65_35_specimen1_area0_spot5_240404.txt,"0,03407","0,03406","0,03399","0,034","0,0341","0,03424","0,03438","0,03439","0,03424",...,"0,14457","0,14229","0,14174","0,14482",65,35,1,0,5,240404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,s_70_30_specimen3_area4_spot1_240806.txt,"0,0301","0,03","0,03002","0,03001","0,0299","0,02998","0,03027","0,03041","0,03026",...,"0,15244","0,15124","0,15185","0,15313",70,30,3,4,1,240806
246,s_70_30_specimen3_area4_spot2_240806.txt,"0,02564","0,02572","0,02572","0,0257","0,02563","0,02555","0,02558","0,02572","0,02571",...,"0,12925","0,13004","0,13172","0,13491",70,30,3,4,2,240806
247,s_70_30_specimen3_area4_spot3_240806.txt,"0,03188","0,03185","0,03168","0,03153","0,03156","0,03174","0,03194","0,03206","0,03202",...,"0,16276","0,1597","0,16012","0,16374",70,30,3,4,3,240806
248,s_70_30_specimen3_area4_spot4_240806.txt,"0,03172","0,03161","0,03174","0,03191","0,0319","0,03175","0,03159","0,03154","0,0316",...,"0,16456","0,16474","0,16158","0,15771",70,30,3,4,4,240806
249,s_70_30_specimen3_area4_spot5_240806.txt,"0,03501","0,03498","0,0348","0,03475","0,03477","0,03471","0,03467","0,03481","0,03501",...,"0,13814","0,13757","0,13739","0,13871",70,30,3,4,5,240806

In [110]:
related_data = data[data['pet'] == 70] 
related_data = related_data.drop(['pet', 'cotton','area','spot','measuring_date','Unnamed: 0'], axis=1)

In [111]:
specimen1 = related_data[related_data["specimen"]==1]
specimen2 = related_data[related_data["specimen"]==2]
specimen3 = related_data[related_data["specimen"]==3]

In [115]:
specimen1 = specimen1.to_numeric('float64')

AttributeError: 'DataFrame' object has no attribute 'to_numeric'

In [112]:
stats.f_oneway(specimen1, specimen2, specimen3)

ValueError: could not convert string to float: '0,02442'